<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WcfService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
 <applicationSettings>
   <WcfService.Properties.Settings>
     <setting name="Url1" serializeAs="String">
       <value>http://api.openweathermap.org/data/2.5/weather?zip={zipcode},{country}&amp;mode={mode}&amp;units={units}&amp;appid={key1}</value>
     </setting>
     <setting name="Url2" serializeAs="String">
       <value>https://maps.googleapis.com/maps/api/geocode/xml?address={zipcode},{country}&amp;key={key2}</value>
     </setting>
     <setting name="Url3" serializeAs="String">
       <value>https://maps.googleapis.com/maps/api/timezone/xml?location={lat},{lng}&amp;timestamp={timestamp}&amp;key={key2}</value>
     </setting>
     <setting name="ResponseOK" serializeAs="String">
       <value>&lt;response&gt;&lt;status&gt;{status}&lt;/status&gt;&lt;city&gt;{city}&lt;/city&gt;&lt;temperature&gt;{temperature}&lt;/temperature&gt;&lt;timezone&gt;{timezone}&lt;/timezone&gt;&lt;/response&gt;</value>
     </setting>
     <setting name="ResponseERR" serializeAs="String">
       <value>&lt;response&gt;&lt;status&gt;{status}&lt;/status&gt;&lt;error&gt;{error}&lt;/error&gt;</value>
     </setting>
     <setting name="Key1" serializeAs="String">
       <value>put-weather-api-key-here</value>
     </setting>
     <setting name="Key2" serializeAs="String">
       <value>put-google-api-key-here</value>
     </setting>
   </WcfService.Properties.Settings>
 </applicationSettings>
</configuration>
